%display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tab-bar-wrap {
  @extend %display-flex;
  width: 100%;
  justify-content: center;
}

.tab-bar {
  @extend %display-flex;
  justify-content: space-around;
  width: 90%;
  height: 130px;
  border-radius: 50px;
  position: fixed;
  bottom: 5vh;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(166,166,166,0.2) ;
  padding-top: 10px;
  &__item {
    @extend %display-flex;
    &--divide {
      width: 4px;
      height: 60px;
      background-color:#a6a6a6;
    }
  }
  &__item-image {
    width: 100px;
    height: 100px;
  }
  &__item-left-title {
    margin-left: 10px;
    color: #a6a6a6;
  }
  &__item-right-title {
    margin-right: 10px;
    color: #a6a6a6;
  }
  &__item--selected {
    color: #518cff;
  }
}
