.createWrapper {
  width: 100vw;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formContainer {
  background-color: white;
  width: 90%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.textInput {
  text-align: right;
}

.option {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  margin-left: 1rem;
}

.uploadImage {
  width: 200px;
  height: 200px;
  background-color: #EEEEEE;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selections {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.exitButton {
  width: 300px;
  height: 100px;
  background-color: #6F93FB;
  color: white;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 5 5 0 rgba(86, 128, 250, 0.25);
  border: none;
}

.submitButton {
  width: 300px;
  height: 100px;
  background-color: #EA7E98;
  color: white;
  border-radius: 0 40px 40px 0;
  border: none;
}

.saveDraft {
  color: #2A82E4;
  font-size: 25px; 
  align-self: flex-start;
  margin-left: 2rem
}

.addTagContainer {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 27.5px 27.5px 0 0;
  box-shadow: 0 5 5 0 rgba(86, 128, 250, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.addTagInputBar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.searchBar {
  width: 520px;
  height: 70px;
  background-color: #6E93F1;
  border-radius: 27.5px;
  margin-bottom: 1rem;
  color: white;
}

.greyLine {
  border: #9FA5B4 solid 7px;
  margin-top: 0.5rem;
  width: 220px;
  border-radius: 50px;
}

.telegramIcon {
  margin-bottom: 0.85rem;
}

.tagsContainer {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-left: 1rem;
}

.addTag {
  padding: 0 20px;
  height: 50px;
  background-image: linear-gradient(-45deg,#6E93F1,#A573FF);
  text-align: center;
  border-radius: 25px;
  color: white;
}
