.loginPageWrapper {
  background: linear-gradient(to left top, #FFB6B6 35%,#A7BCFC 35% 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  position: absolute;
  top: 7rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 60px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}