.submitEventWrapper {
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.23);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.submitEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 25px;
  width: 500px;
  height: 500px;
}

.selectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.3rem;
}

.selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}