@import "~taro-ui/dist/style/components/swipe-action.scss";
@import "../../app.scss";

%display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%box {
  width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

page {
  background-color: #f8faff;
}

.container {
  @extend %display-flex;
  justify-content: center;
}

.page-header {
  @extend %display-flex;
  padding: 0 40px;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  background: linear-gradient(180deg, rgba(81, 140, 255, 1)  ,rgba(133, 168, 237, 1) );
  border-radius: 0 0 50px 50px;
  box-shadow: 0 20px 60px 0 rgba(229, 229, 229, 0.26);
  &__left, &__right {
    @extend %display-flex;
  }
  &__image {
    width: 100px;
  }
  &__switch {
    margin: 0 $padding-md;
    color: #FFFFFF;
  }
  &__add-device {
    color: #FFFFFF;
    margin-left: 10px;
  }
}

.calendar {
  @extend %box;
  margin-top: 40px;
  &__header {
    @extend %display-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100px;
    width: 100%;
    color: #333333;
    padding: 0 20px;
  }
  &__left {
    font-size: 36px;
    font-weight: bolder;
  }
  &__right {
    @extend %display-flex;
    justify-content: space-around;
    width: 160px;
  }
}
.device {
  @extend %display-flex;
  justify-content: center;
  width: 100%;
  &__item {
    padding: 40px 20px;
  }
  &__header {
    @extend %display-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &__header-left {
    @extend %display-flex;
    flex-wrap: nowrap;
    width: 50%;
  }
  &__header-info {
    margin-left: 10px;
  }
  &__header-name {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  &__header-id {
    color: #FFFFFF;
  }
  &__header-age {
    color: #FFFFFF;
    margin-top: 20px;
  }
  &__header-right {
    @extend %display-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    &-switch {
      @extend %display-flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 20px;
      &-title {
        padding-right: 10px;
      }
      &--btn {
        @extend %display-flex;
        justify-content: center;
        width: 130px;
        height: 48px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border-radius: 30px;
        background-color: #FFFFFF;
        color: rgba(95,148,250,1);
        font-size: 28px;
      }
    }
    &--on {
      @extend %display-flex;
      color: #FFFFFF;
    }
    &--off {
      @extend %display-flex;
      color: #FFFFFF;
    }
  }
  &__header-right-status {
    padding-right: 10px
  }
  &__setting {
    @extend %display-flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 20px;
    color: #808080;
    &--space {
      padding-right: 10px;
      color: #FFFFFF;
    }
  }
}


.swipe-action {
  @extend %display-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.device__item-line {
  padding-top: 40px;
}

.health-report {
  width: 100%;
}





