@import "~taro-ui/dist/style/components/flex.scss";
@import '../../../app.scss';

.choose-role {
  @extend %display-flex;
  justify-content: center;
  padding: $padding-lg 0;
  &__header {
    font-size: $font-lg;
    font-weight: bold;
    color: $color-theme;
  }
  &__main {
    @extend %display-flex;
    width: 100%;
    padding: $padding-lg 0;

  }
  &__main-item {
    width: 1/2 * 100%;
    @extend %display-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: $padding-lg;
    box-sizing: border-box;
    &-add {
      @extend  %display-flex;
      justify-content: center;
      width: 200px;
      height: 200px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      border-radius: 16px;
      background-color: #719DF4 ;
      margin-bottom: $margin-md;
    }
  }
  &__main-item-avatar {
    @extend %display-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 10%) ;
    margin-bottom: $margin-lg;
    &--selected {
      background-color: #54c1fb;
    }
  }
  &__main-item-avatar-img {
    width: 100px;
    height: 100px;
  }
  &__main-item-name {
    @extend %display-flex;
    justify-content: center;
    width: 100%;
    color: $color-font-blue-deep
  }

}
